<div class="container">
  <div class="row mb-4 mt-4">
    <div class="col-12">
        <h3>Bienvenido!</h3>
        <h5>Elija la opción que desee realizar.</h5>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a routerLink="/register" [ngClass]="{'nav-link': true, 'active': active1} " (click)="changeActives('register')">Registrar cliente banco</a>
        </li>
        <li class="nav-item">
          <a routerLink="/loan" [ngClass]="{'nav-link': true, 'active': active2} " (click)="changeActives('loan')">Solicitar préstamo</a>
        </li>
      </ul>
      <!-- <div class="col-md-6 register-box text-center">
          <a routerLink="/register" class="btn btn-info">Registrar cliente banco</a>
      </div>
      <div class="col-md-6 loan-box text-center">
          <a routerLink="/loan" class="btn btn-info">Solicitar préstamo</a>
      </div> -->
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div id="main-component">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1>Bienvenido Usuario</h1>
        <form #f="ngForm" (ngSubmit)="searchClient(f)">
          <div class="form-group">
              <label for="userId">Ingrese su número de identificación:</label>
              <input type="number" name="userId" class="form-control" ngModel #userId="ngModel" required>
          </div>
          <div class="form-group">
              <label for="firstname">Ingrese sus nombres:</label>
              <input type="text" name="firstname" class="form-control" ngModel #firstname="ngModel" required>
          </div>
          <div class="form-group">
              <label for="lastname">Ingrese sus apellidos:</label>
              <input type="text" name="lastname" class="form-control" ngModel #lastname="ngModel" required>
          </div>
          <div class="form-group">
              <label for="age">Ingrese su fecha de nacimiento:</label>
              <input type="date" name="age" class="form-control" ngModel #age="ngModel" required>
          </div>
          <div *ngIf="errorText != ''">
            <p style="color: red">
              {{ errorText }}
            </p>
          </div>
          <div class="form-group text-center">
              <button class="btn btn-primary mr-3">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
